<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>错误</title>
    <link rel="stylesheet" href="assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="../assets/css/common.min.css" />
    <link rel="stylesheet" href="../assets/css/other.min.css" />
</head>
<body class="error-container error-light-box">
<div class="layout">
    <!--===========layout-container================-->
    <div class="layout-container">
        <div class="error error-light">
            <div class="container">
                <h2>404</h2>
                <p>请登陆后再次尝试</p>
                <p>对不起,没有找到您所需要的页面,可能是URL不确定,或者页面已被移除。</p>
                <button type="button" class="am-btn am-btn-secondary" onclick="window.location.href='index'">Home</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>