<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>实时票房</title>
    <link href="http://cdn.amazeui.org/amazeui/2.7.2/css/amazeui.min.css" rel="stylesheet"/>
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/angular.js/1.6.3/angular.min.js"></script>
    <script src="http://cdn.amazeui.org/amazeui/2.7.2/js/amazeui.min.js"></script>

    <script>
        var myApp=angular.module('boxApp', []);
    </script>

    <script type="text/javascript" src="/js/box-office.js"></script>
    <script type="text/javascript" src="/js/header.js"></script>
</head>
<body ng-app="boxApp">
<!--导航-->
<header class="am-topbar am-topbar-fixed-top" ng-controller="headerCtrl">
    <div class="am-container">
        <!--logo-->
        <h1 class="am-topbar-brand">
            <img src="/img/logo.jpg" height="43" width="139"/>
        </h1>

        <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
            <ul class="am-nav am-nav-pills am-topbar-nav">
                <li><a href="/index">首页</a></li>
                <li><a href="/tolist">电影列表</a></li>
                <!--<li><a href="/classic-list">经典影片</a></li>-->
                <li><a href="/actor-list">演员列表</a></li>
                <li class="am-active"><a href="#">实时票房</a></li>
            </ul>

            <div class="{{passport}}">
                <div class="am-topbar-right ">
                    <button onclick="window.location.href='/toregister'"
                            class="am-btn am-btn-primary am-topbar-btn am-btn-sm am-radius">
                        <span class="am-icon-pencil"></span> 注册
                    </button>
                </div>
                <div class="am-topbar-right">
                    <button onclick="window.location.href='/tologin'"
                            class="am-btn am-btn-primary am-topbar-btn am-btn-sm am-radius">
                        <span class="am-icon-user"></span> 登陆
                    </button>
                </div>
            </div>
            <div class="{{userinfo}}">
                <div class="am-topbar-right">
                    <button ng-click="exit()"
                            class="am-btn am-btn-primary am-topbar-btn am-btn-sm am-radius">
                        <span class="am-icon-sign-out"></span> 退出
                    </button>
                </div>
                <div class="am-topbar-right" ng-click="myInfo()" >
                    <img src="http://ozqy003kk.bkt.clouddn.com/{{img}}" width="48px" class="am-img-thumbnail am-circle" style="margin-right: 10px"/>
                </div>
            </div>
        </div>
    </div>
</header>

<!--实时票房-->
<div class="am-container" ng-controller="boxCtrl">
    <h1>实时票房 {{time}}</h1>
    <table width="100%" class="am-table am-table-compact am-table-striped am-table-bordered am-table-radius tpl-table-black ">
        <thead>
        <tr>
            <th>排行</th>
            <th>影片</th>
            <th>日票房（万）</th>
            <th>票房占比</th>
            <th>上映天数</th>
            <th>累计票房（万）</th>
        </tr>
        </thead>
        <tbody>
        <tr class="even gradeC" ng-repeat="boxoffice in boxoffices">
            <td>{{boxoffice.irank}}</td>
            <td><a href="" ng-click="selectMovieName(boxoffice.movieName)">{{boxoffice.movieName}}</a></td>
            <td>{{boxoffice.boxOffice}}</td>
            <td>{{boxoffice.boxPer}}%</td>
            <td>{{boxoffice.movieDay}} 天</td>
            <td>{{boxoffice.sumBoxOffice}}</td>

        </tr>
        <!-- more data -->
        </tbody>
    </table>
</div>
</body>
</html>