<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>首页</title>
    <link href="http://cdn.amazeui.org/amazeui/2.7.2/css/amazeui.min.css" rel="stylesheet"/>
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/angular.js/1.6.3/angular.min.js"></script>
    <script src="http://cdn.amazeui.org/amazeui/2.7.2/js/amazeui.min.js"></script>
    <script src="http://cdn.amazeui.org/amazeui/2.7.2/js/amazeui.ie8polyfill.min.js"></script>
    <script src="http://cdn.amazeui.org/amazeui/2.7.2/js/amazeui.widgets.helper.min.js"></script>

    <script>
        var myApp=angular.module('indexApp', []);
    </script>
    <script type="text/javascript" src="/js/index.js"></script>
    <script type="text/javascript" src="/js/header.js"></script>
</head>
<body ng-app="indexApp">
<!--导航-->
<header class="am-topbar am-topbar-fixed-top" ng-controller="headerCtrl">
    <div class="am-container">
        <!--logo-->
        <h1 class="am-topbar-brand">
            <img src="/img/logo.jpg" height="43" width="139"/>
        </h1>

        <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
            <ul class="am-nav am-nav-pills am-topbar-nav">
                <li class="am-active"><a href="#">首页</a></li>
                <li><a href="/tolist">电影列表</a></li>
                <li><a href="/actor-list">演员列表</a></li>
            </ul>

            <div class="{{passport}}">
                <div class="am-topbar-right ">
                    <button onclick="window.location.href='/toregister'"
                            class="am-btn am-btn-primary am-topbar-btn am-btn-sm am-radius">
                        <span class="am-icon-pencil"></span> 注册
                    </button>
                </div>
                <div class="am-topbar-right">
                    <button onclick="window.location.href='/tologin'"
                            class="am-btn am-btn-primary am-topbar-btn am-btn-sm am-radius">
                        <span class="am-icon-user"></span> 登陆
                    </button>
                </div>
            </div>
            <div class="{{userinfo}}">
                <div class="am-topbar-right">
                    <button ng-click="exit()"
                            class="am-btn am-btn-primary am-topbar-btn am-btn-sm am-radius">
                        <span class="am-icon-sign-out"></span> 退出
                    </button>
                </div>
                <div class="am-topbar-right" ng-click="myInfo()" >
                    <img src="http://ozqy003kk.bkt.clouddn.com/{{img}}" width="48px" class="am-img-thumbnail am-circle" style="margin-right: 10px"/>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="am-container"  ng-controller="indexCtrl">
    <!--近期电影-->
    <div>
        <div data-am-widget="titlebar" class="am-titlebar am-titlebar-multi" >
            <h2 class="am-titlebar-title ">
                近期热映
            </h2>
            <!--去更多电影-->
            <nav class="am-titlebar-nav">
                <a href="/tolist" class="">more &raquo;</a>
            </nav>
        </div>
        <div class="am-g" style="text-align:center">
            <div class="am-u-sm-3" ng-repeat="movie in movieList">
                <div class="am-thumbnail" ng-click="toremark(movie.movieid)">
                    <img src="http://ozqy003kk.bkt.clouddn.com/{{movie.img}}" style="width: 170px;height: 256px"/>
                    <h3 class="am-thumbnail-caption" ><strong>{{movie.titlecn}}</strong></h3>
                </div>
            </div>
        </div>
    </div>

    <!--即将上映-->
    <div>
        <div data-am-widget="titlebar" class="am-titlebar am-titlebar-multi" >
            <h2 class="am-titlebar-title ">
                即将上映
            </h2>

            <!--去更多电影-->
            <nav class="am-titlebar-nav">
                <a href="/tolist" class="">more &raquo;</a>
            </nav>
        </div>
        <div class="am-g" style="text-align:center">
            <div class="am-u-sm-3" ng-repeat="movie in comingList">
                <div class="am-thumbnail" ng-click="toremark(movie.movieid)">
                    <img src="http://ozqy003kk.bkt.clouddn.com/{{movie.img}}" style="width: 170px;height: 256px"/>
                    <h3 class="am-thumbnail-caption" ><strong>{{movie.titlecn}}</strong></h3>
                </div>
            </div>
        </div>
    </div>

</div>

<!--弹窗-->
<div class="am-modal am-modal-alert" tabindex="-1" id="index-alert">
    <div class="am-modal-dialog">
        <div class="am-modal-bd">
            已退出登录
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn">确定</span>
        </div>
    </div>
</div>

</body>
</html>