<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>我的电影</title>
    <link href="http://cdn.amazeui.org/amazeui/2.7.2/css/amazeui.min.css" rel="stylesheet"/>
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/angular.js/1.6.3/angular.min.js"></script>
    <script src="http://cdn.amazeui.org/amazeui/2.7.2/js/amazeui.min.js"></script>
    <script src="http://cdn.amazeui.org/amazeui/2.7.2/js/amazeui.ie8polyfill.min.js"></script>
    <script src="http://cdn.amazeui.org/amazeui/2.7.2/js/amazeui.widgets.helper.min.js"></script>
</head>
<body>
<!--导航-->
<header class="am-topbar am-topbar-fixed-top">
    <div class="am-container">
        <!--logo-->
        <h1 class="am-topbar-brand">
            <img src="/img/logo.jpg" height="43" width="139"/>
        </h1>

        <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
            <ul class="am-nav am-nav-pills am-topbar-nav">
                <li ><a href="/index">首页</a></li>
                <li><a href="/tolist">电影列表</a></li>
            </ul>

            <div class="am-topbar-right">
                <button onclick=""
                        class="am-btn am-btn-primary am-topbar-btn am-btn-sm am-radius">
                    <span class="am-icon-sign-out"></span> 退出
                </button>
            </div>
        </div>
    </div>
</header>

<div class="am-g" style="color:#FFF">
    顶部留白
</div>

<!--内容-->
<div class="am-container">
    <div class="am-g">
        <!--用户信息-->
        <div class="am-u-sm-4" style="text-align: center">
            <img src="/img/head.jpg" width="120px" class="am-img-thumbnail am-circle am-center"/>
            <h5 style="color: #98a6ad;">用户名 &nbsp; &nbsp;<span class="am-icon-pencil am-icon-sm"></span></h5>
            <h5 style="color: #98a6ad;">手机：13512341234</h5>
        </div>
        <!--评论及电影-->
        <div class="am-u-sm-8" style="overflow:visible;">
            <div>
                <h1>2017.11.18</h1>
                <div class="am-g">
                    <div class="am-u-sm-4">
                        <img src="http://img5.mtime.cn/mg/2017/09/28/154744.36955889_170X256X4.jpg" alt=""/>
                    </div>
                    <div class="am-u-sm-8">
                        <h6>
                            评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论
                        </h6>
                    </div>
                </div>
                <h3 class="am-thumbnail-caption">图片标题 #1</h3>
            </div>
        </div>
    </div>
</div>

</body>
</html>