<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yang.dao.AdminMapper">
  <resultMap id="AdminMap" type="com.yang.entity.Admin">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="adminId" jdbcType="INTEGER" property="adminid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="privilege" jdbcType="INTEGER" property="privilege" />
  </resultMap>
</mapper>