<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yang.dao.RemarkMapper">
  <resultMap id="RemarkMap" type="com.yang.entity.Remark">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="remarkId" jdbcType="INTEGER" property="remarkid" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />

    <!--用户和评论一对多-->
    <association property="user" javaType="com.yang.entity.User">
      <id column="userId"  property="userid" />
      <result column="nickName" property="nickname" />
      <result column="img" property="img" />
    </association>

    <association property="movie" javaType="com.yang.entity.Movie">
      <id column="movieId"  property="movieid" />
      <result column="titleCn" property="titlecn" />
      <result column="img" property="img" />
    </association>
  </resultMap>

  <select id="selectRemarkByMovie" parameterType="int" resultMap="RemarkMap">
    SELECT t.*,u.* FROM
    remark t,umr m,user u
    WHERE m.movieId=#{id} AND m.remarkId=t.remarkId AND m.userId=u.userId
  </select>
  
  <select id="selectRemarkByUser" parameterType="int" resultMap="RemarkMap">
    SELECT t.*,m.* FROM
    remark t,umr u, movie m
    WHERE u.userId=#{id}  AND u.remarkId=t.remarkId AND u.movieId=m.movieId
  </select>
</mapper>